<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" id="logo" href="">MundiBlog</a>-->
      <%= link_to "Locaciones", root_path, class: "navbar-brand",id: "logo" %>
    </div>
  </div><!-- /.container-fluid -->

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
          <li class="dropdown">

            <%= link_to  root_path, class: "dropdown-toggle", role: "button", data: {toggle: "dropdown"}, aria: { haspopup:"true",expanded:"false" }  do %>
               Paises <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "Todos",countries_path %></li>
              <li><%= link_to "Crear Pais",new_country_path %></li>
            </ul>
          </li>
          <% if @country %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" role="button", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if @city %>
                  Sectores
                <% else %>
                  Ciudades
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% if @city %>
                    <li><%= link_to "Volver a #{@country.name}",country_cities_path(@country,@city) %></li>
                    <li><%= link_to "Agregar Sector",new_country_city_sector_path(@country,@city) %></li>
                <% else %>
                    <li><%= link_to "Volver a paises",countries_path(@country) %></li>
                    <li><%= link_to "Agregar ciudad",new_country_city_path(@country) %></li>
                <% end %>

              </ul>
            </li>
          <% end %>

    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </div><!-- /.navbar-collapse -->

</nav>